.todo-element {
    display: flex;
    // justify-content: space-between;
    margin: 30px 0;
    padding: 1rem 2rem;
    font-size: 30px;
    background-color:white;
    border-radius: 999px;
    align-items: center;
    .todo-element__text {
        flex: 1;
    }
    .todo-element__icons {
        display: flex;
        justify-content: space-between;
        width: 110px;
        font-size: 20px;
        .todo-element__icon {
            cursor: pointer;
        }
    }
}